<nav>
	<a href="#/users">
		<i class="fa fa-user"></i>
		<span>{{ nav.users }}</span>
	</a><a href="#/organizations">
		<i class="fa fa-users"></i>
		<span>{{ nav.organizations }}</span>
	</a><a href="#/repositories">
		<i class="fa fa-code-fork"></i>
		<span>{{ nav.repositories }}</span>
	</a>
</nav>
