@font-face{
	font-family: "FiraSansRegular";
	src: url( "../fonts/FiraSans-Regular.woff") format('woff');
}

@font-face{
	font-family: "FiraSansMedium";
	src: url( "../fonts/FiraSans-Medium.woff") format('woff');
}
